body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

.container {
  background-color: #efefef;
  margin: 0 auto;
  padding: 1rem 0.75rem;
}

.table {
  border-collapse: collapse;
  border: 1px solid silver;
}

.table th,
.table td {
  border: 1px solid silver;
  padding: 0.5rem 0.75rem;
}

.form {
  /* background-color: skyblue; */
}

.form input,
.form select {
  padding: 0.5rem 0.75rem;
  margin-right: 1rem;
}

.form select {
  -webkit-appearance: initial;
}

.form input[type='date'] {
  padding: 0.3rem 0.75rem;
}

.form button {
  padding: 0.5rem 0.75rem;
  background-color: #bdc3c7;
  border-radius: 4px;
  color: #fff;
}
